{% extends "base.html.twig" %}
{% block body %}
    <body>
        <div class="telo">
            <h1>Elektronický zámek dveří</h1>
            <p>
            </p>
        </div>
    </body>
{% endblock %}
