{% extends "base.html.twig" %}
{% block body %}
    <body>
        <div class="telo">
            <h1>Elektronický zámek dveří</h1>
            <p>
                Toto je projekt elektronického zámku dveří.	
		<div class='button' id='OpenDoors'>Otevřít dveře</div>
            </p>
        </div>
    </body>
{% endblock %}
