{% extends "base.html.twig" %}
{% block body %}
    <body>
        <div class="telo">
            <h1>Elektronický zámek dveří</h1>
            <h1>Klikni Zde:</h1>
		    <div class='button' id='button-otevirani'>Otevírání Dveří</div>
        </div>
    </body>
{% endblock %}
